.vscode/
docs/
proxy/.htaccess
scripts/*.webp
scripts/__pycache__
scripts/data
scripts/data.new
scripts/out
scripts/staging
scripts/tripkit_storage
scripts/worldAviationMap.geojson
statistics/access.log.*
statistics/filename.pickle
**.tiff
**.raster
